body {
  background-color: #FFFFE0; /* Perbaikan warna HEX (sebelumnya #FFFE0) */
  font-family: Arial, sans-serif; /* jenis huruf yang bersih dan mudah */
  color: #191970; /* Warna utama (biru gelap) */
}

.kartu-profil {
  width: 300px;
  margin: 50px auto; /* 50px jarak atas/bawah, auto menengahkan kiri/kanan */
  padding: 20px;
  background-color: white;
  border-radius: 15px; /* membuat sudut mejadi melengkung */
  box-shaDoW: 0 4px 8px rgba(0,0,0,0.1); /* efek bayangan, perbaikan typo */
  text-align: center;
}

.kartu-profil img {
  width: 150px;
  border-radius: 50%;
}
